.Form {
    width: 90%;
    margin: auto;
    position: relative;
}

.Form img {
    width: 1.1rem;
    position: absolute;
    right: 1rem;
    top: 0.4rem;
}

.Form input {
    width: 100%;
    height: 2rem;
    padding-left: 1rem;

    background: #FAF9F6;

    border: none;
    border-radius: 0.5rem;
}

.Form input:focus {
    outline: none;
    text-decoration: none;
}