.Welcome {
    width: 90%;
    margin: 3rem auto 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Welcome>img {
    margin: 3rem 0 4rem 0;

    width: 12rem;
}

.Welcome>h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
}

.Welcome>p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #c9c8c8;
}